$ce:center;
$blanco: white;
$blank:  #f6f6f6; 
$negro: black;
$gris: #383737;
$notangris: #E3E7E3;

h1{

    text-align: $ce;
    padding: 20px;
    font-family: 'Work Sans', sans-serif;
    font-weight:bold;
    color: $negro;
}
h2{ font-size: 2.7em;}
ul{ list-style: none;} 

#hero{

    image-orientation: $ce;
    height: 800px;
    background-repeat: no-repeat;
    background:linear-gradient(  rgba(0, 0, 0, 0.5),   rgba(0, 0, 0, 0.5)),  url("../img/hero.jpeg");
    align-items: $ce;
    justify-content: $ce;
    text-align: $ce;
    margin-top: 40; 
    flex-direction: column;
    height: 90vh;
    right: 40vh;
    color: $blanco;
    background-size: cover;
    background-position: $ce $ce;
}
#hero p{
    height: 200px;
    text-align: $ce;
    padding: 0px;
    font-weight:bold;
    color: $blanco;
}
#hero h1{
    margin: 0;
    height: 200px;
    text-align: $ce;
    padding: 50px;
    font-weight:bold;
    color: $blanco;
}
.img-fluid{
max-width: 100%; 
height: auto;
}
button{
    font-size: 3.5em;
    font-weight: bold;
    padding: 20px 20px;
    border-radius: px;
    border: 2px solid black;
    box-shadow: 2px 2px 10px black;
    color: white; 
    background-color: rgb(69, 67, 67);
    height: 100px;
    width: 300px;
}
button:hover{
    background-color: black;
}
footer {
    bottom:0;
    width:100%;
 }
 .nav img{
    float: right;
    justify-content: flex-end;
    align-items: $ce
}
.navegador-texto{
    justify-content: end;
    display: flex;
    align-items: $ce;
    text-align: right;
}
nav img{
    float: right;
}
 
#nuestros-profesionales{
    background-color: #E3E7E3;
    color: #E3E7E3;
    text-align: $ce;
    font-weight: bold;
    }  
     
    .contacto{
        background-color: $notangris;
    }
    #nuestros-profesionales .container{
        padding: 50px 12px;
        }
    
    #nuestros-profesionales h1{
        margin-top: 0;  
        font-size: 3,5em;
        color: $negro;
        font-weight:700;}
        #nuestros-profesionales h3{
            margin-top: 0;  
            font-size: 3,5em;
            color: $blank;
            font-weight:700;
        }
        #nuestros-profesionales p{
            margin-top: 0;  
            font-size: 3,5em;
            color: $blank;
            font-weight:600;
        }
                    .profesionales{
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-column-gap: 1%;
                        justify-items: center;
                        align-items: center;
                        grid-area: "carta1 carta2 carta3";
                        
                        #nuestraspro{
                            text-decoration: solid;
                            text-decoration-color: $blanco;
                        }
                        .profesionales{
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr;
                            grid-column-gap: 1%;
                            justify-items: $ce;
                            align-items: $ce;
                            grid-area: "carta1 carta2 carta3";
                        }
                    }
                    .carta1:first-child:first-child{
                        background:linear-gradient(  rgba(0, 0, 0, 0.5),   rgba(0, 0, 0, 0.5)),  url("../img/cosmetologa.jpg");
                    }
                    
                    .carta2:nth-child(2){
                        background:linear-gradient(  rgba(0, 0, 0, 0.5),   rgba(0, 0, 0, 0.5)),  url("../img/reiki.jpg");
                    }
                    
                    .carta3:nth-child(3){
                        background:linear-gradient(  rgba(0, 0, 0, 0.5),   rgba(0, 0, 0, 0.5)),  url("../img/masoterapia.jpg");
                    }
    #nuestros-profesionales .carta1{
        background-position: $ce $ce;
        background-size: cover;
        padding: 50px;
        margin: 12px;
        border-radius: 20px;
    }
    #nuestros-profesionales .carta2{
        background-position: c$ce $ce;
        background-size: cover;
        padding: 50px;
        margin: 12px;
        border-radius: 20px;
    }
    #nuestros-profesionales .carta3{
        background-position: $ce $ce;
        background-size: cover;
        padding: 50px;
        margin: 12px;
        border-radius: 20px;
    }
    .carta1 { grid-area: 1 / 1 / 2 / 2; 
        width: 80%;}
        .carta2 { grid-area: 1 / 2 / 2 / 3;    
            width: 80%; }
            .carta3 { grid-area: 1 / 3 / 2 / 4;    
                width: 80%; }
                
.header {
    color: $gris;
    font-weight: bold;
    text-align: $ce;
    font-size: 27px;
    padding: 10px;
    background-color: $blank;
    margin: 0;
    padding: 0px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-end;
    padding-bottom: 5px;
    color: $negro;
    

    .container{
    display: flex;
    flex-direction: column;
    align-items: $ce;}
    
    a{
        padding: 2px 12px ;
        text-decoration: none;
        font-weight: bold;
        color: $negro;}
    
    a:hover{
        color: $blank;}    
}
header a{
    padding: 2px 12px ;
    text-decoration: none;
    font-weight: bold;
    color: $negro;
}
header a:hover{
    color: $blank;
}
button{
    font-size: 3.5em;
    font-weight: bold;
    padding: 20px 20px;
    border-radius: px;
    border: 2px solid $negro;
    box-shadow: 2px 2px 10px $negro;
    color: white; 
    background-color: rgb(69, 67, 67);
    height: 100px;
    width: 300px;
}
button:hover{
    background-color: $negro;

}
#nuestros{
color: $negro;
}

#contacto{
    background-color: $notangris;

}
#contacto h3{
    margin-top: 10px;  
    color: $negro;
    font-weight:bolder;
    font-weight:600;
}
#contacto p{
    margin-top: 25px;  
}

#nuestros{
    color: $blank;
}

.carta1 { grid-area: 1 / 1 / 2 / 2; 
     width: 80%;}
.carta2 { grid-area: 1 / 2 / 2 / 3;    
     width: 80%; }
.carta3 { grid-area: 1 / 3 / 2 / 4;    
     width: 80%; }

    header a{
        padding: 2px 12px ;
        text-decoration: none;
        font-weight: bold;
        color: $negro;}
    #laser h2{
        text-align: $ce;
        padding: 10px 12px;
        font-weight: bold;
        color: #f7f7f7;
    }
        #laser p{
            text-align: $ce;
            padding: 10px 12px;
            font-weight:bold;
            color: rgb(0, 0, 0);
    
        }
        @media (max-width:480px){
            header{
                position: fixed;
                width: 100%;
            }
             header .container{
                 flex-direction: row;
             }
             
             header nav{
                flex-direction: row;
            padding-bottom: 0;
            padding-right: 10px;
        
            }
            
            #laser .img-container{
                background-image: url("../img/depilacion_laser.png");
                background-size: cover;
                background-position: $ce $ce;}
            
                .profesionales {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat 3, 1fr;
                    grid-column-gap: 0px;
                    grid-row-gap: 0px;
                    }
                    
                    .carta1 { grid-area: 1 / 1 / 2 / 2; }
                    .carta2 { grid-area: 2 / 1 / 3 / 2; }
                    .carta3 { grid-area: 3 / 1 / 4 / 2; }
        
        
        }
        .laser-p{
            animation-name: laser-p;
            animation-duration: 60s;
        
        }